
<nav id="navbar" class="navbar fixed-top navbar-expand-sm navbar-light bg-dark" >
  <!--     <i class="fa fa-github"></i>
   -->  <a class="navbar-brand" style="font-family: 'PT Serif', serif;size: 150px; color: #45843d; font-weight: bolder" href=""><span class="fa fa-github"></span> GitHub Search</a>
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" routerLink='/search'><span class="glyphicon glyphicon-search"></span>Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/profile'><span class="glyphicon glyphicon-user"></span>My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about'><span class="glyphicon glyphicon-info-sign"></span>About</a>
      </li>
    </ul>
  </nav>
  <div class="background">
    <router-outlet>
      
    </router-outlet>
  </div>
  <!-- <app-profile>Loading the creator's profile...</app-profile>
  -->
 