<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item ">
          <span class="resize"><a class="nav-link" routerLink="userprofile?">Users</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="resize"><a class="nav-link" routerLink="user/repositories?">Repositories</a>
          </span>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>


</body>