<p>search works!</p>
<div class="row search" >
	<div class="col-md-6 offset-md-3">

		<form  #searchForm='ngForm'>
			<div class="form-group ">
				<input type="text" class="form-control" placeholder="Github Username" name="username" [(ngModel)]="username" (keyup)="search()">
			</div>
		</form>

		<div *ngIf = "user">
			<div class="col-md-3">
				<img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
			
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>
				<span class="label label-default">Followers: {{user.followers}}</span>
				<span class="label label-default">Following: {{user.following}}</span>
				<span class="label label-default">Public Gists: {{user.public_gists}}</span>
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>

<!-- 				<h1> {{user.name}}</h1>
 -->				<!-- <h2>{{user.public_repos}} Public Repos</h2> -->
		</div>
			<div>
				<ul class="list-group">
					<li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
					<li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
					<li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
					<li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
					<li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}</li>
				</ul>
			</div>
		</div>
	</div>


<!-- 	<div class="col-md-6">
		<form  #searchForm='ngForm'>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Github Repository" name="reponame" [(ngModel)]="reponame" (keyup.enter)="searchReponame()">
			</div>
		</form>
		<div *ngIf="reponame">
			<div >

				<div class="row" *ngFor= "let name of reponame">
					<ul>
						<li>{{name.full_name}}</li>
					</ul>					
				</div>
				
			</div>
		</div>
	</div>
 --></div>
<!--  -->